<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WebCAContact</title>

    <link rel = "stylesheet" media = "screen" href = "@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/holder.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/ie8responsivefilewarning.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/ie10-viewport-bug-workaround.js")"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">OurWebCA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/action">Action</a></li>
                    <li><a href="/comedy">Comedy</a></li>
                    <li><a href="/romance">Romance</a></li>
					<li><a href="/scifi">SCI-FI</a></li>
					<li role="separator" class="divider"></li>
             
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

      <!-- START THE FEATURETTES -->

      
            
            <div class="col-md-1">
	        </div>
	        <div class = "col-md-10">
	         <h2>Contact Us</h2>
			 
			 <div class="col-md-5">
			 <button href= "https://www.google.com/gmail/about/" type="button" class="btn btn-default btn-lg">Gmail</button>
			 <button href="https://twitter.com/?lang=en" type="button" class="btn btn-info btn-lg">Twitter</button>
			 <button href="https://www.facebook.com/" type="button" class="btn btn-primary btn-lg">Facebook</button>
			 

		     </div>
             <div class="col-md-7">
			 
          	 </div>
			 
	         <div class="col-md-1">
	         </div>
	  
			
  
	  
      <hr class="featurette-divider">
	  
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
		<p class="pull-right"><a href="/">Home</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap-3.3.7\dist\js\bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="bootstrap-3.3.7\docs\assets\js\vendor\holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.3.7\docs\assets\js\ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
