<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WebCAGhostbusters</title>

    <link rel = "stylesheet" media = "screen" href = "@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/holder.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/ie8responsivefilewarning.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/ie10-viewport-bug-workaround.js")"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">OurWebCA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/action">Action</a></li>
                    <li><a href="/comedy">Comedy</a></li>
                    <li><a href="/romance">Romance</a></li>
					<li><a href="/scifi">SCI-FI</a></li>
					<li role="separator" class="divider"></li>
             
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
   
   

      <!-- START THE FEATURETTES -->

	  <hr class="featurette-divider">
      <div id = mainPage>
	  
	  <div class="col-md-1">
	  </div>
	  <div class = "col-md-10">
	  <h2>Ghostbusters</h2>
	  <p>Action, Comedy, Sci-Fi </p>
	  
	  
	  <div id = moviePic>
	  <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTg3OTM4NTM4NV5BMl5BanBnXkFtZTgwOTI3NDc0OTE@@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Ghostbusters" width="175" height="250">
	  </div>
	  
      <div id = description>
	  <p>Descrpition</p>
	  <p>Following a ghost invasion of Manhattan, paranormal enthusiasts Erin Gilbert and Abby Yates, nuclear engineer Jillian Holtzmann, and subway worker Patty Tolan band together to stop the otherworldly threat.</p>
      
	  </div>
	  
	  <h2>Trailer</h2>
     <div class="row featurette">
        <div class="col-md-5">
		<iframe width="500" height="300" src="https://www.youtube.com/embed/w3ugHP-yZXw" frameborder="0" allowfullscreen></iframe>
		     </div>
        <div class="col-md-7">
          	  </div>
	  
      </div>
	  
	  <script>
	var GU_comment_box_id = "Ghostbusters";
	var GU_comment_box_theme = "style.org";
	var GU_comment_box_pos = "top";
	var GU_comment_box_mode = "noinline";
	var GU_comment_box_server = "minichat.first-jump.com";
</script>
<script src="http://minichat.first-jump.com/i/comm/comment_box_code.js"></script>
	  
      <footer>
	  <div class="col-md-1">
	  </div>
	  <div class="col-md-10">
        <p class="pull-right"><a href="/Ghostbusters">Back to top</a></p>
		</div>

      </footer>
	  

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="..\..\bootstrap-3.3.7\dist\js\bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="..\..\bootstrap-3.3.7\docs\assets\js\vendor\holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="..\..\bootstrap-3.3.7\docs\assets\js\ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
